<!-- This page will never be seen, it doesn't even need to exist, that is why it will automatically forward the user to places -->

<h1> Entries </h1>

<ul>
  <% for entries in @entry %>
    <li>
      <%= entries["title"] %>
      <%= entries["description"] %>
      </a>
    </li>
  <% end %>
</ul>

